<h1>Show Photo</h1>

<ul>
  <div class="image_column">    
    <img src="<%= GalleryManager.Path.url({ @photo.path, @photo }) %>" width="300" />
    <div class="image_caption"><%= @photo.caption %> </div>    
    <span><%= link "Edit", to: Routes.user_photo_path(@conn, :edit, @photo.user_id, @photo.id) %></span>     
  </div>
</ul>
 
<span><%= link "Photos", to: Routes.user_photo_path(@conn, :index, @photo.user_id) %></span>
